
body h2{
    font-family: Arial, sans-serif;
    text-align: center;
}

.projects-container {
    display: flex; /* Utilisation de Flexbox pour organiser les cartes de projet */
    flex-wrap: wrap; /* Permet de faire plusieurs lignes si nécessaire */
    gap: 20px;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.project-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
